
@keyframes bgfade{
	0% {background: gray;}
	100% {background: white;}
}
@-webkit-keyframes bgfade{
	0% {background: gray;}
	100% {background: white;}
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1500ms;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }

}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/* Hide the initial main text */
#rest {
	display: none;
	text-align: center;
}